body {
    font-family: sans-serif;
    background: url(./img/kanyebg.png);
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background-size: auto;
    color: #ffe2bd;
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: 1000;
    margin-bottom: 10px;
}

.quote {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.credit {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.subtitle {
    margin: 20px;
    margin-top: 40px;
    background-color: #892be236;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
}

.desc {
    margin-left: 30px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 60px;
}

.kanye1 {
    width: 200px;
    height: auto;
    margin-left: 5%;
    float: left;
    border-width: 10px;
    border-color: #892be236;
    border-style: solid;
}

.kendrick1 {
    width: 200px;
    height: auto;
    margin-right: 5%;
    float: right;
    border-width: 10px;
    border-color: #892be236;
    border-style: solid;
    margin-bottom: 40px;
}

.click1 {
    display: inline-block;
    background-color: #892be236;
    width: 120px;
    padding: 3px;
    font-weight: bold;
}

.click2 {
    display: inline;
    float: right;
    background-color: #892be236;
    width: 120px;
    padding: 3px;
    font-weight: bold;
}

a:link,
a:visited {
    color: #ffe2bd;
}

.kanyegif {
    width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-width: 10px;
    border-color: #892be236;
    border-style: solid;
}

.list {
    font-size: 18px;
    font-weight: 500;
}

.back {
    margin-top: 40px;
    text-align: center;
    display: block;
    margin-bottom: 40px;
}

li {
    margin-bottom: 5px;
}